In [3]:
import pandas as pd 
import numpy as np

In [9]:
def DataEstadistico():
    df2=pd.read_csv(r'C:\Users\Credd\OneDrive\Documentos\SISTEMAS\PRACTICAS\python\Numpy\cotizacion.csv', sep=';', index_col=0, decimal=',', thousands='.')
    return pd.DataFrame([df2.min(), df2.max(), df2.mean()], index=['Mínimo', 'Máximo', 'Promedio'])

#df is in general

print(DataEstadistico())

                 Final        Máximo        Mínimo       Volumen    Efectivo
Mínimo        1.016500      4.067500      1.016500  1.221000e+03    2343.090
Máximo    19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Promedio   2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778

1. Generar un DataFrame con los datos del fichero.

In [12]:
df3=pd.read_csv(r'C:\Users\Credd\OneDrive\Documentos\SISTEMAS\PRACTICAS\python\Numpy\titanic.csv', sep=',', index_col=0)
df3

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas

3. Mostrar por pantalla los datos del pasajero con identificador 148.
4. Mostrar por pantalla las filas pares del DataFrame.
5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8. Eliminar del DataFrame los pasajeros con edad desconocida.
9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.